<div class="form-container">

  <h1 class="form-padding">Register</h1>

  <%= form_for @user, url: registrations_path do |f| %>
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="join-flex-container">
      <div class="join-flex">
        <div><%= f.label :username %></div>
        <%= f.text_field :username, :class => "join-form-field" %>

        <div><%= f.label :first_name %></div>
        <%= f.text_field :first_name, :class => "join-form-field" %>
      </div>

      <div class="join-flex">
        <div><%= f.label :password %></div>
        <%= f.password_field :password, :class => "join-form-field" %>

        <div><%= f.label :last_name %></div>
        <%= f.text_field :last_name, :class => "join-form-field" %>
      </div>

    </div>

    <div class="form-padding">

      <div><%= f.label :bio %></div>
      <%= f.text_area :bio, :class => "join-form-area" %>


      <div>
        <%= f.label :rant_rate, "How often do you rant?" %>

        <div class="radio-button-flex-container">
          <div class="radio-button-flex"><%= f.radio_button :rant_rate, 'daily' %> <%= f.label :rant_rate_daily, "Daily" %></div>
          <div class="radio-button-flex"><%= f.radio_button :rant_rate, 'weekly' %> <%= f.label :rant_rate_monthly, "Weekly" %></div>
          <div class="radio-button-flex"><%= f.radio_button :rant_rate, 'monthly' %> <%= f.label :rant_rate_monthly, "Monthly" %></div>
        </div>

      </div>


    </div>
    <div class="form-submit"> <%= f.submit "REGISTER", :class => "join-form-submit-button" %></div>

  <% end %>
</div>