<div class="dash-flex-container">

  <div class="dash-flex1">
    <%= render 'rants/create_rant_form' %>
  </div>

  <div class="dash-flex2">

    <div class="rant-show-flex-container">
      <div><h1 class="rant-label"><%= @rant.title.upcase %></h1></div>
      <div class="rant-show-username">author:
        <span class="user-link"><%= link_to "#{@rant.user.username.capitalize}", user_rants_path(@rant.user_id) %></span>
      </div>

    </div>
    <div class="fav-follow-flex-container"><span class="fav-follow-link"><%= link_to "Favorite", favorites_path%></span><span class="fav-follow-link"><%= link_to "Follow", follows_path%></span></div>

    <div class="clearfix"></div>

    <hr>

    <p><%= @rant.verbage %></p>

  </div>


</div>